
/* ==========================================================================
   Base Styles
   ========================================================================== */

/*
 * Remove the gap between audio, canvas, iframes,
 * images, videos and the bottom of their containers:
 * https://github.com/h5bp/html5-boilerplate/issues/440
 */

 audio,
 canvas,
 iframe,
 img,
 svg,
 video {
 	vertical-align: middle;
 }

/*
 * Remove default fieldset styles.
 */

 fieldset {
 	border: 0;
 	margin: 0;
 	padding: 0;
 }

/*
 * Allow only vertical resizing of textareas.
 */
 textarea {
 	resize: vertical;
 }

/* ==========================================================================
   Custom Styles
   ========================================================================== */

   html, body {
    max-width: 100%;
    overflow-x: hidden;
  }

  body {
    background-color: #F8F6F3;
  }

  hr {
    height: 4px;
    width: 40px;
    background-color: #E66660;
    border: 0;
  }

  .button {
    display: inline-block;
    background-color: #1a1a1a;
    text-decoration: none;
    border: 0;
    padding: 18px 38px 18px 38px;
    font-family: 'Source Sans Pro', sans-serif;
    font-size: 12px;
    font-weight: 600;
    letter-spacing: 1.5px;
    text-align: center;
    text-transform: uppercase;
    margin: auto;
    color: #ffffff;
    -moz-box-shadow: 0px 20px 35px 0px rgba(26,26,26,0.35);
    -webkit-box-shadow: 0px 20px 35px 0px rgba(26,26,26,0.35);
    box-shadow: 0px 20px 35px 0px rgba(26,26,26,0.35);
    transition: all .25s ease-in-out;
  }

  .button:hover {
    -moz-box-shadow: 0px 25px 40px 0px rgba(26,26,26,0.35);
    -webkit-box-shadow: 0px 25px 40px 0px rgba(26,26,26,0.35);
    box-shadow: 0px 25px 40px 0px rgba(26,26,26,0.35);
  }

  .primary-background {
    background-color: #F8F6F3;
  }

  .secondary-background {
    background-color: #ffffff;
    /*border-top: 1px solid #EAEAEA;
    border-bottom: 1px solid #EAEAEA*/;
  }

  .dark-background {
    background-color: #1a1a1a;
  }

  /*Large breakpoint overrides*/
  @media (min-width: 1000px) {

    .button {
      font-size: 13px;
      padding: 20px 40px 20px 40px;
    }

  }

/* ==========================================================================
   Global Layout Styles
   ========================================================================== */

   .center {
   	margin: 0 auto;
   	display: block;
   }

   .position-relative {
    position: relative;
  }

  .position-absolute {
    position: absolute;
  }

  .right-align {
    float: right;
  }

  header {
    width: 100%;
    display: flex;
    justify-content: space-between;
    align-items: center;
  }

  header img {
    width: 180px;
    display: block;
  }

  .nav-link {
    font-family: 'Source Sans Pro', sans-serif;
    font-size: 18px;
    text-decoration: none;
    color: #1a1a1a;
    margin-right: 16px;
  }

  .nav-link:hover {
    color: rgba(26, 26, 26, .7);

  }

  .section-container {
    margin: 0 auto;
    padding: 40px 2%;
    max-width: 1040px;
  }

  .large-space-around {
    margin: 80px 0 60px 0;
  }

  .medium-space {
    margin-bottom: 20px;
  }

  .large-space  {
    margin-bottom: 32px;
  }

  /* ==========================================================================
   Hero Section
   ========================================================================== */

   .hero-section {
    padding-bottom: 280px;
    overflow: hidden;

  }

  .hero-section > .copy-container {
    margin-top: 40px;
  }

  .hero-button {
    margin-top: 10px;
  }

  .badge-container {
    display: flex;
    flex-direction: column;
    justify-content: flex-start;
  }

  .badge {
    width: 210px;
  }

  .hero-img-small {
    width: 600px;
    bottom: -110px;
    right: -105px;
    pointer-events: none;
  }

  .hero-img-wide {
    display: none;
  }

  
  @media (min-width: 800px) {

    .hero-section {
      overflow: visible;
      padding-bottom: 310px;
    }

    .hero-section > .copy-container {
      margin-top: 150px;
    }

    .hero-section > .copy-container > .button {
      margin-top: 20px
    }

    .hero-img-small {
      display: none;
    }

    .hero-img-wide {
      width: 800px;
      bottom: 15px;
      left: 430px;
      display: block;
    }

  }

  /* ==========================================================================
   Description Section
   ========================================================================== */

   .description-container {
    margin: 0 auto;
    padding: 60px 2% 60px 2%;
    max-width: 1300px;
  }

  .description-block {
    display: flex;
    flex-direction: column;
    align-items: center;
    justify-content: center;
    max-width: 400px;
    margin: 0 auto;
  }

  .description-title-block > h2 {
    margin-bottom: 16px;
  }

  .description-block > h3 {
    margin-top: 30px;
    margin-bottom: 0;
  }

  .description-block > p {
    margin-top: 12px;
    color: #A0A0A0;
  }


  @media (min-width: 1000px) {

    .description-container {
      padding-top: 100px;
      padding-bottom: 120px;
    }

    .description-row {
     display: flex;
     flex-direction: row;
     justify-content: space-between;
     align-items: baseline;
     margin-top: 30px;
   }

   .description-block {
     max-width: 340px;
   }

   .description-block > h3 {
    margin-top: 42px;
  }

 }

 @media (min-width: 800px) {
  .copy-container {
    max-width: 400px;
  }
}

  /* ==========================================================================
   Packs Section
   ========================================================================== */

   .pack-row > .copy-container {
    margin-bottom: 40px;
  }

  .packs-img {
    width: 100%;
    max-width: 300px;
    position: relative;
    margin: 0 auto;
    display: block;
  }

  @media (min-width: 800px) {

    .pack-row {
      display: flex;
      align-items: center;
      justify-content: space-between;
      margin-top: 100px;
    }

    .packs-img {
      max-width: 400px;
      margin: 0;
    }

  }

  /* ==========================================================================
   Vocab Section
   ========================================================================== */

   .vocab-row {
    margin-top: 50px;
    margin-bottom: 40px;
  }

  .vocab-row > .copy-container {
    margin-bottom: 10px; 
  }

  .vocab-img {
    width: 100%;
    max-width: 400px;
    display: block;
    margin: 0 auto;
  }

  @media (min-width: 800px) {

    .vocab-row {
      display: flex;
      align-items: center;
      justify-content: space-between;
      margin-bottom: 100px;
    }

    .vocab-img {
      position: relative;
      top: 50px;
      right: 20px;
      max-width: 510px;
      margin: 0;
      -webkit-order: -1;
      -moz-order: -1;
      -ms-order: -1;
      -o-order: -1;
      order: -1;
    }

  }

  /* ==========================================================================
   CTA Section
   ========================================================================== */

   .cta-copy-block > h2 {
    margin-bottom: 0;
  }

  .cta-copy-block > p {
    margin-top: 10px;
  }

  .cta-copy-block > a  {
    margin-top: 10px;
    margin-bottom: 24px;
  }

  .cta-character-img {
    width: 130px;
    top: 90px;
    right: 25px;
  }

  @media (min-width: 800px) {
    
    .cta-copy-block {
      text-align: center;
    }

    .cta-character-img {
      width: 150px;
      right: 145px;
      top: 75px;
      pointer-events: none;
    }
  }

/* ==========================================================================
   Text
   ========================================================================== */

   .text-center {
   	text-align: center;
   }

   @font-face {
   	font-family: 'din_alternatebold';
   	src: url('../fonts/din-alternate-bold/din-alternate-bold-webfont.woff2') format('woff2'),
   	url('../fonts/din-alternate-bold/din-alternate-bold-webfont.woff') format('woff'),
   	url('../fonts/din-alternate-bold/din-alternate-bold-webfont.ttf') format('truetype');
   	font-weight: normal;
   	font-style: normal;
   }

   h1{
   	font-family: 'din_alternatebold';
   	font-size: 36px;
   	line-height: 42px;
   	letter-spacing: 1px;
    font-weight: 100;
    color: #1a1a1a;
   }

   h2 {
   	font-family: 'din_alternatebold';
   	font-size: 24px;
   	line-height: 32px;
    font-weight: 100;
    color: #1a1a1a;
   }

   h3 {
   	font-family: 'din_alternatebold';
    font-weight: 100;
    color: #1a1a1a;
   }

   p {
   	font-family: 'Source Sans Pro', sans-serif;
   	font-size: 17px;
   	line-height: 26px;
    color: #1a1a1a;
   }

   li {
    font-family: 'Source Sans Pro', sans-serif;
    font-size: 17px;
    line-height: 26px;
    color: #1a1a1a;
   }

   .description-title {
    margin-top: 0px;
   }

   .subtitle {
    margin-bottom: 10px;
    text-transform: uppercase;
    letter-spacing: 3px;
    font-weight: 600;
    font-size: 13px;
    color: #C9C9C9;
   }

   footer p, footer a {
   	font-size: 16px;
   	color: #ffffff;
   }

   /*Large breakpoint overrides*/
   @media (min-width: 1000px ) {

    /*h1 {
     font-size: 36px;
     line-height: 42px;
   }*/

   h2 {
     font-size: 28px;
     line-height: 38px;
   }

 }

/* ==========================================================================
   Browser Upgrade Prompt
   ========================================================================== */

   .browserupgrade {
   	margin: 0.2em 0;
   	background: #ccc;
   	color: #000;
   	padding: 0.2em 0;
   }

/* ==========================================================================
   Helper classes
   ========================================================================== */

/*
 * Hide visually and from screen readers
 */

 .hidden {
 	display: none !important;
 }

/*
 * Clearfix: contain floats
 *
 * For modern browsers
 * 1. The space content is one way to avoid an Opera bug when the
 *    `contenteditable` attribute is included anywhere else in the document.
 *    Otherwise it causes space to appear at the top and bottom of elements
 *    that receive the `clearfix` class.
 * 2. The use of `table` rather than `block` is only necessary if using
 *    `:before` to contain the top-margins of child elements.
 */

 .clearfix:before,
 .clearfix:after {
 	content: " "; /* 1 */
 	display: table; /* 2 */
 }

 .clearfix:after {
 	clear: both;
 }

/* ==========================================================================
   Print styles.
   Inlined to avoid the additional HTTP request:
   https://www.phpied.com/delay-loading-your-print-css/
   ========================================================================== */

   @media print {
   	*,
   	*:before,
   	*:after {
   		background: transparent !important;
   		color: #000 !important; /* Black prints faster */
   		-webkit-box-shadow: none !important;
   		box-shadow: none !important;
   		text-shadow: none !important;
   	}

   	a,
   	a:visited {
   		text-decoration: underline;
   	}

   	a[href]:after {
   		content: " (" attr(href) ")";
   	}

   	abbr[title]:after {
   		content: " (" attr(title) ")";
   	}

    /*
     * Don't show links that are fragment identifiers,
     * or use the `javascript:` pseudo protocol
     */

     a[href^="#"]:after,
     a[href^="javascript:"]:after {
     	content: "";
     }

     pre {
     	white-space: pre-wrap !important;
     }
     pre,
     blockquote {
     	border: 1px solid #999;
     	page-break-inside: avoid;
     }

    /*
     * Printing Tables:
     * http://css-discuss.incutio.com/wiki/Printing_Tables
     */

     thead {
     	display: table-header-group;
     }

     tr,
     img {
     	page-break-inside: avoid;
     }

     p,
     h2,
     h3 {
     	orphans: 3;
     	widows: 3;
     }

     h2,
     h3 {
     	page-break-after: avoid;
     }
   }
